/* make text green */
*{
    color: green;
    text-align: center;
}
/* increase font size of answer and link */
p, a{
    font-size: large;
}
/* add padding above footer */
footer{
    padding-top: 10pt;
}